.wrapper
  = render partial: 'devise/shared/side_bar'
  -# .group-side
  -#   .group-header
  -#     %p.group-header__user-name 
  -#       =current_user.name
  -#     %ul.group-header__user-menu
  -#       %li.user-menu__edit
  -#         = link_to new_group_path do
  -#           %i.far.fa-edit
  -#       %li.user-menu__cog  
  -#         = link_to edit_user_path(current_user) do
  -#           %i.fas.fa-cog
  -#   .groups
      -# .group
      -#   %p.group__group-name group-name
      -#   %p.group__message-top message
      -# .group
      -#   %p.group__group-name group-name
      -#   %p.group__message-top message
  .chat-side
    .message-header
      .current-group
        %h2.current-group__group-name
          = @group.name
        %ul.current-group__members
          %li Member:
          %li.members__name
            - @group.users.each do |user| 
              = user.name
      = link_to edit_group_path(@group) do
        .message-header__edit-btn
          %p Edit
    .messages
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message], html: {id: :new_message} do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
    -#  以下、自分のhaml
    -# .form
    -#   %form.new-message{action: 'activation', method: 'post' }
    -#     .input-box
    -#       %input.input-box__message{placeholder: "type a message",type: "text",name: "message"}  
    -#         %label.image-label{for: "upload-icon"}
    -#           %i.far.fa-image
    -#             %input.image-label{type:"file", id: "upload-icon"}
    -#     %input.submit-btn{type: "submit", value: "send"}
