.group-side
  .group-header
    %p.group-header__user-name 
      =current_user.name
    %ul.group-header__user-menu
      %li.user-menu__edit
        = link_to new_group_path do
          %i.far.fa-edit
      %li.user-menu__cog  
        = link_to edit_user_path(current_user) do
          %i.fas.fa-cog
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__message-top
            = group.show_last_message